### AnswerBot SDK
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/AnswerBotSDK/AnswerBotSDK.json" == 2.0.1
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/AnswerBotProvidersSDK/AnswerBotProvidersSDK.json" == 2.0.1
### Zendesk SDK
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/SupportSDK/SupportSDK.json" == 5.0.1
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/SupportProvidersSDK/SupportProvidersSDK.json" == 5.0.1
# Chat SDK
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/ChatSDK/ChatSDK.json" == 2.3.0
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/ChatProvidersSDK/ChatProvidersSDK.json" == 2.3.0
# Shared Resources
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/MessagingSDK/MessagingSDK.json" == 3.2.0
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/MessagingAPI/MessagingAPI.json" == 3.2.0
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/CommonUISDK/CommonUISDK.json" == 4.2.0 # AnswerBot & Zendesk & Chat
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/SDKConfigurations/SDKConfigurations.json" == 1.1.3
binary "https://zendesk.jfrog.io/zendesk/libs-releases-local/ios/zendesk/ZendeskCoreSDK/ZendeskCoreSDK.json" == 2.2.2 # AnswerBot & Zendesk